
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.custom-bg {
    background-color: lightblue;
}
/*#cfe2ff*/

.page-item.active .page-link {
    background-color: lightblue;
    border-color: lightblue;
}

.bg-footer {
    background-color: rgba(240, 244, 248, 0.95);
}

.font-colored {
    color: #5EA2B9FF;
}

.font-nav {
    font-size: 18px;
}

.category__item:hover {
    color: #5EA2B9FF;
}

.custom-mrg {
    margin-top: 3rem;
}

.img-left {
    margin: 0 20px 10px 0;
    padding: 0;
    float: left;
}

.btn-auth:hover {
    fill: #135fcf;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

